<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codi.superman.base.domain.SysUserSession">
    <resultMap id="BaseResultMap" type="com.codi.superman.base.domain.SysUserSession">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="TOKEN" property="token" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
        <result column="STATE" property="state" jdbcType="CHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="UA" property="ua" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		ID, TOKEN, USER_ID, STATE, CREATE_DATE, LAST_UPDATE_DATE, UA
	</sql>

    <select id="selectByToken" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_USER_SESSION
        WHERE TOKEN=#{token}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER_SESSION
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from SYS_USER_SESSION
		where ID = #{id,jdbcType=BIGINT}
	</delete>

    <insert id="insert" parameterType="com.codi.superman.base.domain.SysUserSession">
        insert into SYS_USER_SESSION (TOKEN, USER_ID,STATE,
		CREATE_DATE,
		LAST_UPDATE_DATE, UA
		)
		values (#{token,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
		#{state,jdbcType=CHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{lastUpdateDate,jdbcType=TIMESTAMP}, #{ua,jdbcType=VARCHAR}
		)
	</insert>
    <insert id="insertSelective" parameterType="com.codi.superman.base.domain.SysUserSession">
        insert into SYS_USER_SESSION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="token != null">
                TOKEN,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="lastUpdateDate != null">
                LAST_UPDATE_DATE,
            </if>
            <if test="ua != null">
                UA,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=CHAR}
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="ua != null">
                #{ua,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateToken" parameterType="com.codi.superman.base.domain.SysUserSession">
        UPDATE SYS_USER_SESSION SET LAST_UPDATE_DATE=#{lastUpdateDate} WHERE
		ID=#{id}
	</update>
</mapper>
